################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project-King-Fisher/v15/Browse.VC.opendb
